---
---

@import "{{ site.theme }}";

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  max-width: 780px;
  margin: 0 auto 15px auto;
  line-height: 1.8;
}
